<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Resume - Aman Agrawal</title>

  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
  <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="static/css/resume.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none">Aman Agrawal</span>
      <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="static/img/myimage.jpg" alt="">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#education">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#awards">Awards</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h1 class="mb-0">Aman
          <span class="text-primary">Agrawal</span>
        </h1>
        <div class="subheading mb-5">Shivhare colony · Morar · Gwalior ·
          <a href="https://www.google.com/intl/en-GB/gmail/about/#">amana6398@gmail.com</a>
        </div>
        <p class="lead mb-5">I am a Person with positive attitude and always try to learn something new. I also have developed many projects with Python and Java.</p>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/aman-agrawal-68024212a/">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="https://github.com/amangoyalji">
            <i class="fab fa-github"></i>
          </a>
          <a href="https://twitter.com/AmanAgr49159089">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://www.facebook.com/aman.agrawal.3591267/about">
            <i class="fab fa-facebook-f"></i>
          </a>
        </div>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
      <div class="w-100">
        <h2 class="mb-5">Experience</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Internshala</h3>
            <div class="subheading mb-3">At BeOfUse</div>
            <p>BeOFUse is a startup company which is working on an online eductaion platform like byjus, I have worked there as an Back-end Developer in Django(Python-web_framework) and developed a website. I worked in BeOfUse as an intern, and applied through the internshala.com </p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">March 2020 - April 2020</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Web Design Intern</h3>
            <div class="subheading mb-3">Numeric Infosystem pvt. ltd.</div>
            <p>developed projects like upgradation of technology by connecting devices with IOT so that secure the home and can make the society more comfortable also designed an E-Locker which open only through the device that you have and encrypted through the password.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">January 2019 - April 2019</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Web developer @ Click</h3>
            <div class="subheading mb-3">College Group in MITS</div>
            <p>developed a website for the college group for making people know more about the upcoming events and get them register for the events. </p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">May 2017 - January 2019</span>
          </div>
        </div>

        

      </div>

    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
      <div class="w-100">
        <h2 class="mb-5">Education</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Madhav Institute of Technology and Science</h3>
            <div class="subheading mb-3">Bachelor of Engineering</div>
            <div>Information Technology </div>
            <p>CGPA: 7.73</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">August 2016 - june 2020</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Rishi Galav Public High School</h3>
            <div class="subheading mb-3">12 standard</div>
            <p>percentage : 81.2</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">August 2013 - May 2015</span>
          </div>
        </div>
        <br>
        <br>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">KG Children School</h3>
            <div class="subheading mb-3">10 standard</div>
            <p>CGPA : 9.6</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">july 2011 - july 2013</span>
          </div>
        </div>


      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
      <div class="w-100">
        <h2 class="mb-5">Skills</h2>

        

        <div class="subheading mb-3">PROGRAMMING LANGUAGES &amp; TOOLS</div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-check"></i>
            Hyper Text Markup Language(HTML)</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Extensibe Markup Language(XML)</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Java Script(JS)</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Cascading Style Sheet(CSS)</li>
          
          <li>
            <i class="fa-li fa fa-check"></i>
            Python (Django &amp; Flask : frameowrk)</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Java (J2EE &amp; J2SE)</li>
          
        </ul>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
      <div class="w-100">
        <h2 class="mb-5">Interests</h2>
        <p>Apart from being a developer, I like to invest most of the time with my family and being outdoor and i used to help the persons who are in need since i feel good by helping them. </p>
        <p class="mb-0">When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, I am an aspiring coder, and I spend a large amount of my free time exploring the latest technology advancements in the front-end  and back-end web development world.</p>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="awards">
      <div class="w-100">
        <h2 class="mb-5">Awards &amp; Certifications</h2>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            top 5 percentile in NPTEL DBMS Exam</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Certified Java Developer</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Certified Python developer</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            
            Certified Word Press Developer</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Qualified Google kickstart 2019</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Qualified google code jam</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Qualified Google kickstart 2020
            </li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Participated in hackathon in barco Industries
            </li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Participated in hackathon in MITS college
            </li>
        </ul>
      </div>
    </section>

  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="static/js/resume.min.js"></script>

</body>

</html>
